body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.hide {
    display: none;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}

.btn {
    background-color: #e1ff00;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.btn:hover {
    background-color: #b3a700;
}

.start-btn, .restart-btn {
    background-color: #28a745;
}

.start-btn:hover, .restart-btn:hover {
    background-color: #218838;
}

#question {
    font-size: 20px;
    margin-bottom: 20px;
}

header {
    background: #28a745;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 7vh;
    align-items: center;
    color: white;
}

.containerR {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo img {
    width: 200px;
}

nav {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background: white;
    margin: 4px;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        position: absolute;
        top: 40px;
        right: 0;
        width: 100%;
        background: #28a745;
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .burger {
        display: flex;
    }

    .nav-links.active {
        display: flex;
    }
}